version: '3'
services:
  dnsmasq:
    image: ghcr.io/devplayer0/dnsmasq:latest
    build: .
    environment:
      - DEBUG=yes
      - ROUTER_NETWORK=172.24.0.0/16
    volumes:
      - ./dnsmasq.conf:/run/config/dnsmasq.conf:ro
    cap_add: [NET_ADMIN]
  test_client:
    image: alpine:3.12
    command: [sleep, infinity]
    stop_signal: SIGKILL
